@import "../../../scss/utils";

.akbarysCareer {
  position: relative;
  padding-top: 178px;
  height: 800px;
  &__wrapper {
    grid-column: 1 / span 12;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    &-title {
      margin-bottom: 30px;
    }
    &-button {
      margin-top: 60px;
    }
    &-subtitle {
      margin-top: 50px;
      margin-bottom: 10px;
    }
  }
  &__body {
    z-index: -1;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
  }
  &__body-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 1920px) {
    @include adaptive-value-byX("padding-top", 178, 130, 1920, 1440);
    @include adaptive-value-byX("height", 800, 600, 1920, 1440);
    &__content {
      &-title {
        @include adaptive-value-byX("margin-bottom", 30, 20, 1920, 1440);
      }
      &-button {
        @include adaptive-value-byX("margin-top", 60, 40, 1920, 1440);
      }
      &-subtitle {
        @include adaptive-value-byX("margin-top", 50, 40, 1920, 1440);
      }
    }
  }
  @media (max-width: 1440px) {
    @include adaptive-value-byX("padding-top", 130, 100, 1440, 1200);
    @include adaptive-value-byX("height", 600, 540, 1440, 1200);
    &__content {
      &-button,
      &-subtitle {
        margin-top: 40px;
      }
      &-title {
        margin-bottom: 20px;
      }
    }
  }
  @media (max-width: 1200px) {
    @include adaptive-value-byX("padding-top", 100, 528, 1200, 860);
    @include adaptive-value-byX("height", 640, 1020, 1200, 860);
  }
  @media (max-width: 860px) {
    height: 1020px;
    padding-top: 528px;
    &__wrapper {
      grid-column: 1 / span 8;
    }
  }
  @media (max-width: 640px) {
    @include adaptive-value-byX("padding-top", 528, 262, 640, 320);
    @include adaptive-value-byX("height", 1020, 580, 640, 320);
    &__content {
      &-button,
      &-subtitle {
        @include adaptive-value-byX("margin-top", 40, 20, 640, 320);
      }
      &-title {
        @include adaptive-value-byX("margin-bottom", 20, 15, 640, 320);
      }
    }
    &__wrapper {
      grid-column: 1 / span 6;
    }
  }
  @media (max-width: 320px) {
    padding-top: 262px;
    height: 580px;
    &__content {
      &-button,
      &-subtitle {
        margin-top: 20px;
      }
      &-title {
        margin-bottom: 15px;
      }
    }
  }
}
