@import '../../../scss/utils';

.ppeBrends {
    background-color: #1564FD;
    &__wrapper {
        width: 100%;
        display: grid;
        grid-column: 1 / span 12;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }
    &__img {
        @include adaptive-value-byX('width', 351, 266, 1920, 1440);
        @include adaptive-value-byX('height', 202, 152, 1920, 1440);
        border-right: 1px solid #4584FF;
        border-left: 1px solid #4584FF;
        
        & svg {
            height: 100%;
            width: 100%;
        }
    }
}