@import "../../../scss/utils";

.akbarysPreview {
  position: relative;
  height: 800px;
  padding-top: 245px;
  &__wrapper {
    grid-column: 1 / span 12;
    width: fit-content;
  }
  &__content {
    z-index: 2;
    position: relative;
  }
  &__title {
    max-width: 577px;
  }
  &__subtitle {
    margin-top: 60px;
  }
  &__subtitle-description {
    margin-top: 10px;
  }
  &__title-description {
    margin-top: 30px;
  }
  &__body {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
  }
  &__body-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 640px) {
    padding-top: calc(((896 * (610 / 1140)) / 896) * 100vh);
  }
  &__wrapper.visible {
    opacity: 1;
    animation: show 1.5s ease;
  }
  @media (max-width: 1920px) {
    @include adaptive-value-byX("padding-top", 333, 316, 1920, 1440);
    @include adaptive-value-byX("height", 800, 680, 1920, 1440);
    &__title {
      @include adaptive-value-byX("max-width", 577, 440, 1920, 1440);
    }
    &__subtitle {
      @include adaptive-value-byX("margin-top", 60, 30, 1920, 1440);
    }
    &__title-description {
      @include adaptive-value-byX("margin-top", 30, 20, 1920, 1440);
    }
  }
  @media (max-width: 1440px) {
    @include adaptive-value-byX("padding-top", 316, 256, 1440, 1200);
    @include adaptive-value-byX("height", 680, 600, 1440, 1200);
    &__title {
      max-width: 440px;
    }
    &__subtitle {
      margin-top: 30px;
    }
    &__title-description {
      margin-top: 20px;
    }
  }
  @media (max-width: 1200px) {
    @include adaptive-value-byX("padding-top", 256, 557, 1200, 860);
    @include adaptive-value-byX("height", 600, 950, 1200, 860);
    &__subtitle {
      @include adaptive-value-byX("margin-top", 30, 40, 1200, 860);
    }
  }
  @media (max-width: 860px) {
    height: 950px;
    padding-top: 557px;
    &__wrapper {
      grid-column: 1 / span 8;
    }
    &__title {
      max-width: 100%;
    }
    &__subtitle {
      margin-top: 40px;
    }
  }
  @media (max-width: 640px) {
    @include adaptive-value-byX("padding-top", 557, 280, 640, 320);
    @include adaptive-value-byX("height", 950, 580, 640, 320);
    &__wrapper {
      grid-column: 1 / span 6;
    }
    &__subtitle {
      @include adaptive-value-byX("margin-top", 40, 20, 640, 320);
    }
    &__title-description {
      @include adaptive-value-byX("margin-top", 20, 15, 640, 320);
    }
  }
  @media (max-width: 320px) {
    padding-top: 280px;
    height: 580px;
    &__subtitle {
      margin-top: 20px;
    }
    &__title-description {
      margin-top: 15px;
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
