@import "../../../scss//utils";

.serviceCenter {
  position: relative;
  height: 800px;
  padding-top: 587px;
  &__wrapper {
    grid-column: 1 / span 12;
    width: fit-content;
  }
  &__content {
    z-index: 2;
    position: relative;
  }
  &__subtitle {
    margin-top: 60px;
  }
  &__subtitle-description {
    margin-top: 10px;
  }
  &__title-description {
    margin-top: 30px;
  }
  &__body {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
  }
  &__body-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 1920px) {
    @include adaptive-value-byX("height", 800, 680, 1920, 1440);
    @include adaptive-value-byX("padding-top", 587, 502, 1920, 1440);
    &__subtitle {
      @include adaptive-value-byX("margin-top", 60, 30, 1920, 1440);
    }
    &__title-description {
      @include adaptive-value-byX("margin-top", 30, 20, 1920, 1440);
    }
  }
  @media (max-width: 1440px) {
    @include adaptive-value-byX("padding-top", 445, 413, 1440, 1200);
    @include adaptive-value-byX("height", 680, 600, 1440, 1200);
    &__subtitle {
      margin-top: 30px;
    }
    &__title-description {
      margin-top: 20px;
    }
  }
  @media (max-width: 1200px) {
    @include adaptive-value-byX("padding-top", 413, 786, 1200, 860);
    @include adaptive-value-byX("height", 600, 950, 1200, 860);
  }
  @media (max-width: 910px) {
    &__body-image img {
      object-position: 49% center;
    }
  }
  @media (max-width: 860px) {
    height: 950px;
    padding-top: 787px;
    &__wrapper {
      grid-column: 1 / span 8;
    }
  }
  @media (max-width: 640px) {
    @include adaptive-value-byX("padding-top", 786, 467, 640, 320);
    @include adaptive-value-byX("height", 950, 580, 640, 320);
  }
  @media (max-width: 320px) {
    padding-top: 467px;
    height: 580px;
  }
  &__wrapper.visible {
    opacity: 1;
    animation: show 1.5s ease;
  }
}
