@import '../../../scss/utils';

.ppeAkbarysProtection {
  position: relative;
  background-color: #1564fd;
  overflow: hidden;
  // @include adaptive-value-byX('height', 896, 741, 1920, 1440);
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    @include adaptive-value-byX('right', -324, -243, 1920, 1440);
    height: 100%;
    @include adaptive-value-byX('width', 1530, 1130, 1920, 1440);
    background: radial-gradient(
      50% 86.44% at 50% 86.44%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.4;
    z-index: 5;
  }
  .container {
    height: 100%;
  }
  &__wrapper {
    position: relative;
    overflow: hidden;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: space-between;
  }
  &__box {
    position: absolute;
    // @include adaptive-value-byX('width', 491, 363, 1920, 1440);
    height: 90%;
    // height: 100%;
    // @include adaptive-value-byX('top', 48, 116, 1920, 1440);
    bottom: -3px;
    right: 0;
    z-index: 10;
    & img, & div {
      height: 100%;
      width: 100%;
    }
  }
  &__image {
    height: 100%;
    width: 100%;
  }
  &__content {
    @include adaptive-value-byX('padding-top', 120, 110, 1920, 1440);
    @include adaptive-value-byX('padding-bottom', 120, 110, 1920, 1440);
    @include adaptive-value-byX('width', 566, 515, 1920, 1440);
    &-title {
      @include adaptive-value-byX('margin-bottom', 60, 40, 1920, 1440);
    }
    &-description {
      margin-bottom: 20px;
      &.mb {
        margin-bottom: 0;
      }
    }
    .button {
      @include adaptive-value-byX('margin-top', 60, 40, 1920, 1440);
    }
  }
}
