.h2s,
.sft,
.ppe {
  padding-top: calc((272 / 1002) * 100vh);
  height: 100%;
  &__title {
    max-width: 500px;
  }
  &__subtitle {
    display: grid;
    align-items: center;
    grid-template-columns: 120px 230px;
    &-description {
      padding-left: 10px;
    }
  }
  &__wrapper {
    grid-column: 1 / span 12;
  }
  &__box,
  &__button {
    margin-top: 60px;
  }
  @media (max-width: 1440px) {
    &__wrapper {
      grid-column: 1 / span 12;
    }
    &__title {
      max-width: 390px;
    }
    padding-top: calc((226 / 760) * 100vh);
    &__button,
    &__box {
      margin-top: 30px;
    }
    &__subtitle {
      grid-template-columns: 101px 185px;
    }
  }
  @media (max-width: 1200px) {
    padding-top: calc((206 / 720) * 100vh);
  }
  @media (max-width: 1040px) {
    &__title {
      max-width: 500px;
    }
    padding-top: calc((500 / 1200) * 100vh);
    &__button,
    &__box {
      margin-top: 40px;
    }
    &__box {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__subtitle {
      grid-template-columns: 110px 185px;
    }
  }
  @media(max-width: 860px) {
    padding-top: calc((757 / 1200) * 100vh);
  }
  @media(max-width: 675px) {
    padding-top: calc((610 / 1140) * 100vh);
    &__box {
      display: flex;
      flex-direction: column;
    }
  }
  @media(max-width: 640px) {
    padding-top: calc(((896 * (610 / 1140)) / 896) * 100vh);
  }
  &__wrapper.visible {
    opacity: 1;
    animation: show 1.5s ease;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
