@import "../../../scss//utils";
.h2sAboutSft {
  background: #f8f8f8;
  &__digit {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 500px;
    line-height: 609px;
    color: #182027;
    opacity: 0.03;
  }
  &__wrapper {
    padding: 120px 0;
    grid-column: 1 / span 12;
    width: 100%;
    height: 100%;
  }
  &__content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 149px;
    &-description {
      margin-top: 40px;
    }
    &-subtitle {
      margin-top: 60px;
    }
    &-title {
      margin-top: 20px;
    }
    &-box {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      grid-column: 2 / span 1;
    }
    &-image {
      height: 670px;
      grid-column: 1 / span 1;
    }
  }
  &__button {
    margin-top: 50px;
    &-next,
    &-prev {
      bottom: 0;
      right: 30%;
      z-index: 10;
      position: absolute;
      width: 29px;
      height: 29px;
      cursor: pointer;
    }
    &-prev {
      transform: rotateY(180deg);
      right: 35%;
    }
  }
  &__slider {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__pagination {
    bottom: 0;
    position: absolute;
    right: 43%;
  }
  &__slider-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }
  &__slide {
    flex: 1 0 100%;
  }
  @media (max-width: 1920px) {
    &__digit {
      @include adaptive-value-byX("font-size", 500, 400, 1920, 1440);
      @include adaptive-value-byX("line-height", 609, 488, 1920, 1440);
    }
    &__button {
      @include adaptive-value-byX("margin-top", 50, 40, 1920, 1440);
    }
    &__content {
      @include adaptive-value-byX("grid-column-gap", 149, 121, 1920, 1440);
      &-image {
        @include adaptive-value-byX("height", 670, 502, 1920, 1440);
      }
    }
  }
  @media (max-width: 1440px) {
    &__wrapper {
      padding: 100px 0;
    }
    &__content {
      @include adaptive-value-byX("grid-column-gap", 121, 109, 19144020, 1200);
      &-image {
        @include adaptive-value-byX("height", 502, 434, 1440, 1200);
      }
    }
  }
  @media (max-width: 1200px) {
    &__digit {
      display: none;
    }
  }
}
