.career {
  &__wrapper {
    opacity: 0;
    margin-top: calc((282 / 1002) * 100vh);
    grid-column: 1 / span 12;
  }
  &__title {
    font-weight: 600;
    font-size: 34px;
    line-height: 121.4%;
    letter-spacing: 0.012em;
  }
  &__description {
    margin-top: 30px;
  }
  &__button {
    margin-top: 60px;
  }
  &__subtitle {
    margin-top: 50px;
    font-weight: 600;
    font-size: 96px;
    line-height: 117px;
    &-description {
      margin-top: 10px;
    }
  }
  &__button {
    margin-top: 60px;
  }
  @media (max-width: 1440px) {
    &__wrapper {
      grid-column: 1 / span 12;
      margin-top: calc((218 / 760) * 100vh);
    }

    &__title {
      font-size: 24px;
    }

    &__description {
      font-size: 14px;
      margin-top: 20px;
      letter-spacing: 0.012em;
    }
    &__button {
      margin-top: 40px;
      font-size: 15px;
    }
    &__subtitle {
      margin-top: 30px;
      font-size: 72px;
      line-height: 88px;
      &-description {
        font-size: 14px;
      }
    }
  }
  @media (max-width: 1200px) {
    &__wrapper {
      margin-top: calc((215 / 720) * 100vh);
    }
  }
  @media (max-width: 860px) {
    &__wrapper {
      grid-column: 1 / span 8;
      margin-top: calc((655 / 1200) * 100vh);
    }
    &__title {
      font-size: 34px;
    }
    &__description {
      margin-top: 30px;
      font-size: 18px;
    }
    &__subtitle {
      margin-top: 50px;
      font-size: 96px;
      line-height: 117px;
      &-description {
        font-size: 18px;
      }
    }
    &__button {
      margin-top: 60px;
    }
  }
  @media (max-width: 640px) {
    &__wrapper {
      grid-column: 1 / span 6;
      margin-top: calc((528 / 1140) * 100vh);
    }
  }
}

.visible.career__wrapper {
  opacity: 1;
  animation: show 2.2s ease;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
