@import "../../scss/utils";

.footerAdditional {
  position: relative;
  padding: 120px 0;
  height: 677px;
  &__wrapper {
    grid-column: 1 / span 12;
    display: flex;
    justify-content: space-between;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    width: 670px;
    .text-1 {
      font-weight: 600;
      font-size: 20px;
    }
  }
  & a:hover path {
    fill: #1564fd;
  }
  &__item {
    width: max-content;
  }
  &__list {
    &-title.text-1 {
      font-size: 16px;
    }
    &-item {
      margin-top: 20px;
    }
    &-2 {
      margin-top: 50px;
    }
  }
  &__content {
    &-logo {
      height: 77px;
      width: 200px;
      margin-bottom: 30px;
      & svg {
        width: 100%;
        height: 100%;
      }
    }
    &-description {
      width: 330px;
      margin-bottom: 50px;
      &.text-1 {
        font-size: 15px;
      }
    }
    &-social {
      &-icons {
        width: 213px;
        display: flex;
        justify-content: space-between;
      }
      &-title {
        margin-bottom: 20px;
        &.text-1 {
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
  }
  &__copyright {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 130px;
    background: #f4f4f4;
  }
  &__copyright-wrapper {
    grid-column: 1 / span 12;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
  &__copyright-link {
    margin-right: 30px;
  }
  @media (max-width: 1920px) {
    @include adaptive-value-byX("padding-top", 120, 110, 1920, 1440);
    @include adaptive-value-byX("padding-bottom", 120, 110, 1920, 1440);
    @include adaptive-value-byX("height", 677, 592, 1920, 1440);
    &__items {
      @include adaptive-value-byX("width", 670, 530, 1920, 1440);
      .text-1 {
        @include adaptive-value-byX("font-size", 20, 16, 1920, 1440);
      }
    }
    &__content {
      &-logo {
        @include adaptive-value-byX("height", 77, 66, 1920, 1440);
        @include adaptive-value-byX("width", 200, 170, 1920, 1440);
      }
      &-description {
        @include adaptive-value-byX("width", 330, 300, 1920, 1583);
        @media (max-width: 1583px) {
          width: 300px;
        }
        &.text-1 {
          @include adaptive-value-byX("font-size", 15, 14, 1920, 1678);
        }
      }
      &-social {
        &-icons {
          @include adaptive-value-byX("width", 213, 155, 1920, 1440);
        }
        &-title.text-1 {
          @include adaptive-value-byX("font-size", 18, 15, 1920, 1440);
        }
        &-description.text-1 {
          @include adaptive-value-byX("font-size", 15, 14, 1920, 1440);
        }
      }
    }
    &__copyright {
      @include adaptive-value-byX("height", 130, 120, 1920, 1440);
    }
    &__list-title.text-1 {
      @include adaptive-value-byX("font-size", 16, 14, 1920, 1440);
    }
  }
  @media (max-width: 1440px) {
    @include adaptive-value-byX("padding-top", 110, 100, 1440, 1200);
    @include adaptive-value-byX("height", 592, 561, 1440, 1200);
    @include adaptive-value-byX("padding-bottom", 110, 100, 1440, 1200);
    &__items {
      .text-1 {
        font-size: 16px;
      }
    }
    &__content {
      &-logo {
        @include adaptive-value-byX("height", 66, 50, 1440, 1200);
        @include adaptive-value-byX("width", 170, 130, 1440, 1200);
      }
      &-social {
        &-title.text-1 {
          font-size: 15px;
        }
      }
      &-description {
        width: 313px;
        &.text-1 {
          font-size: 14px;
        }
      }
    }
    &__list-title.text-1 {
      font-size: 14px;
    }
  }
  @media (max-width: 1200px) {
    @include adaptive-value-byX("padding-top", 100, 90, 1200, 860);
    @include adaptive-value-byX("padding-bottom", 100, 90, 1200, 860);
    height: 561px;
  }
  @media (max-width: 1140px) {
    height: 770px;
    &__items {
      flex-direction: column;
    }
    &__list {
      &-item {
        margin-top: 16px;
      }
      &-3 {
        margin-top: 50px;
      }
    }
    &__content {
      &-logo {
        width: 170px;
        height: 66px;
      }
      &-social-icons {
        width: 155px;
      }
    }
  }
  @media (max-width: 860px) {
    @include adaptive-value-byX("padding-top", 90, 80, 860, 640);
    @include adaptive-value-byX("height", 770, 720, 860, 731);
    @include adaptive-value-byX("padding-bottom", 90, 80, 860, 640);
    &__wrapper,
    &__copyright-wrapper {
      grid-column: 1 / span 8;
    }
  }
  @media (max-width: 800px) {
    &__copyright-text {
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 731px) {
    height: 720px;
    &__wrapper {
      padding-top: 120px;
      position: relative;
      display: flex;
      flex-direction: column;
    }
    &__content {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      &-social {
        flex-basis: 50%;
        align-items: center;
      }
      &-logo {
        position: absolute;
        top: 0px;
        left: 0;
        margin-bottom: 30px;
        margin-right: 40px;
      }
      &-description {
        display: none;
      }
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 50px;
    }
    &__list-3 {
      margin-top: 0;
    }
  }
  @media (max-width: 640px) {
    @include adaptive-value-byX("padding-top", 80, 50, 640, 320);
    @include adaptive-value-byX("height", 720, 709, 640, 320);
    @include adaptive-value-byX("padding-bottom", 80, 50, 640, 320);
    &__wrapper,
    &__copyright-wrapper {
      grid-column: 1 / span 6;
    }
  }
  @media (max-width: 531px) {
    &__items .text-1 {
      font-size: 14px;
    }
    &__list-title.text-1 {
      font-size: 12px;
    }
    &__content-social-title.text-1 {
      font-size: 14px;
    }
    &__copyright {
      .text-1 {
        font-size: 14px;
      }
      &-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &-link {
        margin: 0;
      }
      &-text {
        margin-top: 5px;
        align-items: center;
      }
    }
  }
  @media (max-width: 471px) {
    height: 560px;
    &__wrapper {
      padding-top: 70px;
    }
    &__content {
      margin-top: 30px;
      &-logo {
        width: 130px;
        height: 51px;
      }
    }
    &__items {
      .text-1 {
        font-size: 12px;
      }
    }
    &__list-title.text-1 {
      font-size: 10px;
    }
    &__content-social-title.text-1 {
      font-size: 12px;
    }
    &__copyright {
      .text-1 {
        font-size: 12px;
      }
    }
    &__list {
      &-item {
        margin-top: 5px;
      }
      &-2 {
        margin-top: 20px;
      }
    }
  }
  @media (max-width: 416px) {
    height: 720px;
    &__items {
      display: flex;
      grid-column-gap: 0;
    }
    &__list-3 {
      margin-top: 20px;
    }
  }
  @media (max-width: 320px) {
    height: 709px;
    padding: 50px 0;
  }
}

.error.footer__form-input::placeholder {
  color: #ff3f3f;
}
.error.footer__form-input {
  border-bottom: 1px solid #ff3f3f;
}
