@import '../../../scss/utils';

.verificationLaboratoryPreview {
  position: relative;
  height: 800px;
  padding-top: 425px;
  &__wrapper {
    z-index: 2;
    position: relative;
  }
  &__body {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
  }
  &__body-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    max-width: 500px;
  }
  &__subtitle {
    display: grid;
    align-items: center;
    grid-template-columns: 128px 223px;
    &:nth-child(1) {
      display: none;
    }
  }
  &__wrapper {
    grid-column: 1 / span 12;
  }
  &__button {
    margin-top: 60px;
  }
  @media (max-width: 1920px) {
    @include adaptive-value-byX("padding-top", 480, 430, 1920, 1440);
    @include adaptive-value-byX("height", 800, 680, 1920, 1440);
    &__box {
      @include adaptive-value-byX("margin-top", 60, 30, 1920, 1440);
    }
  }
  @media (max-width: 1440px) {
    @include adaptive-value-byX("padding-top", 430, 227, 1440, 1200);
    @include adaptive-value-byX("height", 680, 600, 1440, 1200);
    &__box {
      margin-top: 30px;
    }
    &__subtitle {
      grid-template-columns: 101px 185px;
    }
  }
  @media (max-width: 1200px) {
    @include adaptive-value-byX("padding-top", 360, 480, 1200, 860);
    @include adaptive-value-byX("height", 600, 950, 1200, 860);
    &__box {
      @include adaptive-value-byX("margin-top", 30, 40, 1200, 1075);
    }
  }
  @media (max-width: 1075px) {
    &__title {
      max-width: 500px;
    }
    &__box {
      margin-top: 40px;
      width: 100%;
    }
    &__subtitle {
      grid-template-columns: 132px 185px;
    }
  }
  @media (max-width: 860px) {
    height: 950px;
    padding-top: 672px;
    &__wrapper {
      grid-column: 1 / span 8;
    }
  }
  @media (max-width: 640px) {
    &__wrapper {
      grid-column: 1 / span 6;
    }
    padding-top: calc(((896 * (610 / 1140)) / 896) * 100vh);
  }
  @media (max-width: 640px) {
    @include adaptive-value-byX("padding-top", 672, 420, 640, 320);
    @include adaptive-value-byX("height", 950, 580, 640, 320);
    &__subtitle {
      grid-template-columns: 135px 185px;
    }
    &__box {
      @include adaptive-value-byX("margin-top", 40, 20, 640, 320);
    }
  }
  @media (max-width: 490px) {
    &__subtitle {
      grid-template-columns: 106px 185px;
    }
  }
  @media (max-width: 460px) {
    &__subtitle {
      grid-template-columns: 88px 185px;
    }
  }
  @media (max-width: 320px) {
    padding-top: 420px;
    height: 580px;
    &__box {
      margin-top: 20px;
    }
  }
  &__wrapper.visible {
    opacity: 1;
    animation: show 1.5s ease;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}