.mainDevelopment {
  &__wrapper {
    margin-top: 280px;
    grid-column: 1 / span 12;
  }
  &__content {
    opacity: 0;
  }
  &__description {
    margin-top: 30px;
    max-width: 685px;
    padding-right: 10px;
  }
  &__button {
    margin-top: 50px;
  }
  &__stages {
    width: 100%;
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
  }
  &__stages-item {
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
    opacity: 0;
    max-width: 260px;
    &-digit {
      margin-bottom: 24px;
    }
  }
  @media (max-width: 1920px) {
    &__wrapper {
      margin-top: calc((280 / 1002) * 100vh);
    }
    &__stages {
      margin-top: calc((200 / 1002) * 100vh);
    }
    &__description {
      margin-top: calc((30 / 1002) * 100vh);
    }
    &__stages-item-digit {
      margin-bottom: calc((24 / 1002) * 100vh);
    }
  }
  @media (max-width: 1440px) {
    &__wrapper {
      margin-top: calc((200 / 760) * 100vh);
    }
    &__stages {
      margin-top: calc((170 / 760) * 100vh);
    }
    &__stages-item-digit {
      margin-bottom: calc((20 / 760) * 100vh);
    }
  }
  @media (max-width: 1200px) {
    &__wrapper {
      margin-top: calc((200 / 760) * 100vh);
    }
    &__stages {
      margin-top: calc((95 / 760) * 100vh);
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 91px;
      grid-column-gap: 30px;
      grid-row-gap: 50px;
      padding-right: 65px;
      &-item-digit {
        margin-bottom: calc((20 / 760) * 100vh);
      }
    }
  }
  @media (max-width: 920px) {
    &__stages {
      padding-right: 0;
    }
    &__stages {
      margin-top: calc((200 / 1200) * 100vh);
    }
  }
  @media (max-width: 860px) {
    &__wrapper {
      grid-column: 1 / span 8;
      margin-top: calc((300 / 1200) * 100vh);
    }
  }
  @media (max-width: 640px) {
    &__wrapper {
      grid-column: 1 / span 6;
      margin-top: calc((330 / 1140) * 100vh);
    }
  }
  @media (max-width: 600px) {
    &__stages {
      padding: 0;
      margin-top: calc((64 / 1140) * 100vh);
      grid-row-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      &-item {
        max-width: 320px;
        display: flex;
        flex-direction: row;
        &-digit {
          margin-bottom: 0;
          margin-right: 30px;
          width: 60px;
        }
      }
    }
  }
  @media (max-width: 450px) {
    &__stages {
      display: none;
    }
  }
}

.visible .mainDevelopment__stages-item:nth-child(1) {
  transition: all 1s ease;
}
.visible .mainDevelopment__stages-item:nth-child(2) {
  transition: all 1.4s ease;
}
.visible .mainDevelopment__stages-item:nth-child(3) {
  transition: all 1.8s ease;
}
.visible .mainDevelopment__stages-item:nth-child(4) {
  transition: all 2.2s ease;
}
.visible .mainDevelopment__content {
  animation: show 2.2s ease;
}
.visible .mainDevelopment__stages-item {
  opacity: 1;
  transform: translateY(0%);
}
.visible .mainDevelopment__content {
  opacity: 1;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(0%);
  }
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}
