.mainDevelopment {
  &__wrapper {
    margin-top: calc((300 / 1002) * 100vh);
    grid-column: 1 / span 12;
  }
  &__content {
    opacity: 0;
  }
  &__description {
    margin-top: 30px;
    max-width: 685px;
    padding-right: 10px;
  }
  &__button {
    margin-top: 50px;
  }
  &__stages {
    width: 100%;
    margin-top: calc((200 / 1002) * 100vh);
    display: flex;
    justify-content: space-between;
  }
  &__stages-item {
    margin-right: calc((91 / 1920) * 100vw);
    min-width: 282px;
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
    opacity: 0;
  }
  // &__stages-item-digit {
  //   font-weight: bold;
  //   font-size: 36px;
  //   line-height: 44px;
  //   margin-bottom: 24px;
  // }
  @media (max-width: 1610px) {
    &__stages-item {
      min-width: 251px;
    }
  }
  @media (max-width: 1530px) {
    &__stages-item {
      margin-right: calc((60 / 1920) * 100vw);
    }
  }
  @media (max-width: 1440px) {
    // &__title {
    //   font-size: 24px;
    // }
    &__wrapper {
      margin-top: calc((250 / 760) * 100vh);
      grid-column: 1 / span 12;
    }
    // &__description {
    //   font-size: 14px;
    // }
    &__stages {
      margin-top: calc((80 / 760) * 100vh);
    }
    &__stages-item {
      margin-right: calc((30 / 1440) * 100vw);
      min-width: 242px;
      // font-size: 14px;
    }
    &__stages-item-digit {
      // font-size: 30px;
      // line-height: 37px;
      margin-bottom: 19px;
    }
  }
  @media (max-width: 1200px) {
    &__wrapper {
      margin-top: calc((230 / 720) * 100vh);
    }
    &__stages {
      margin-top: calc((70 / 720) * 100vh);
    }
    &__stages-item {
      min-width: 208px;
    }
    &__stages-item-digit {
      margin-bottom: 15px;
    }
  }
  @media (max-width: 1100px) {
    &__stages {
      margin-top: calc((95 / 1200) * 100vh);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 91px;
      padding-right: 65px;
      &-item-digit {
        margin-bottom: 24px;
      }
    }
  }
  @media (max-width: 860px) {
    &__wrapper {
      grid-column: 1 / span 8;
      margin-top: calc((400 / 1200) * 100vh);
    }
  }
  @media (max-width: 640px) {
    &__wrapper {
      grid-column: 1 / span 6;
      margin-top: calc((330 / 1140) * 100vh);
    }
    &__stages {
      padding: 0;
      margin-top: calc((64 / 1140) * 100vh);
      grid-row-gap: 50px;
    }
  }
  @media (max-width: 595px) {
    &__stages {
      grid-column-gap: 50px;
    }
  }
  @media (max-width: 541px) {
    &__stages {
      grid-column-gap: 20px;
    }
  }
  @media (max-width: 508px) {
    &__stages {
      display: none;
    }
  }
}

.visible .mainDevelopment__stages-item:nth-child(1) {
  transition: all 1s ease;
}
.visible .mainDevelopment__stages-item:nth-child(2) {
  transition: all 1.4s ease;
}
.visible .mainDevelopment__stages-item:nth-child(3) {
  transition: all 1.8s ease;
}
.visible .mainDevelopment__stages-item:nth-child(4) {
  transition: all 2.2s ease;
}
.visible .mainDevelopment__content {
  animation: show 2.2s ease;
}
.visible .mainDevelopment__stages-item {
  opacity: 1;
  transform: translateY(0%);
}
.visible .mainDevelopment__content {
  opacity: 1;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(0%);
  }
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}
