@import "../../../scss/utils";

.h2s,
.sft,
.ppe {
  padding-top: 272px;
  height: 100%;
  &__title {
    max-width: 500px;
  }
  &__subtitle {
    display: grid;
    align-items: center;
    grid-template-columns: 120px 230px;
    &-description {
      padding-left: 10px;
    }
  }
  &__wrapper {
    grid-column: 1 / span 12;
  }
  &__box,
  &__button {
    margin-top: 60px;
  }
  @media (max-width: 1920px) {
    &__box,
    &__button {
      @include adaptive-value-byX("margin-top", 60, 30, 1920, 1440);
    }
  }
  @media (max-width: 1440px) {
    @include adaptive-value-byX("padding-top", 272, 406, 1440, 1200);
    &__wrapper {
      grid-column: 1 / span 12;
    }
    &__title {
      max-width: 390px;
    }
    &__button,
    &__box {
      margin-top: 30px;
    }
    &__subtitle {
      grid-template-columns: 100px 230px;
    }
  }
  @media (max-width: 1200px) {
    @include adaptive-value-byX("padding-top", 406, 828, 1200, 860);
  }
  @media (max-width: 1040px) {
    &__title {
      max-width: 500px;
    }
    padding-top: calc((601 / 1200) * 100vh);
    &__button,
    &__box {
      margin-top: 40px;
    }
    &__subtitle {
      grid-template-columns: 110px 185px;
    }
  }
  @media (max-width: 860px) {
    &__wrapper {
      grid-column: 1 / span 8;
    }
    @include adaptive-value-byX("padding-top", 601, 431, 860, 640);
    &__subtitle {
      grid-template-columns: 130px 250px;
    }
  }
  @media (max-width: 640px) {
    &__wrapper {
      grid-column: 1 / span 6;
    }
    @include adaptive-value-byX("padding-top", 431, 179, 640, 320);
    &__box,
    &__button {
      @include adaptive-value-byX("margin-top", 30, 20, 640, 320);
    }
    &__title {
      max-width: 100%;
    }
    &__subtitle-digit.text-2 {
      @include adaptive-value-byX("font-size", 96, 56, 640, 320);
      @include adaptive-value-byX("line-height", 117, 68, 640, 320);
    }
  }
  &__wrapper.visible {
    opacity: 1;
    animation: show 1.5s ease;
  }
  @media (max-width: 320px) {
    padding-top: 179px;
    &__box,
    &__button {
      margin-top: 20px;
    }
    &__subtitle-digit.text-2 {
      font-size: 56px;
      line-height: 68px;
    }
    &__subtitle {
      grid-template-columns: 75px 220px;
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
