@import "../../../scss/utils";

.sftDescription {
  height: fit-content;
  .items-2,
  .items-3 {
    display: none;
  }
  &__wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    &_special {
      padding-bottom: 90px;
    }
    @media (max-width: 860px) {
      grid-column: 1 / span 8;
    }
    @media (max-width: 640px) {
      grid-column: 1 / span 6;
    }
  }
  &__title {
    grid-column: 1 / span 1;
  }
  &__subtitle {
    grid-column: 2 / span 1;
  }
  &__description {
    grid-column: 2 / span 1;
    &_changable {
      grid-column: 1 / span 1;
      max-width: 577px;
    }
  }
  &__items {
    display: grid;
    grid-column: 1 / span 12;
    grid-template-columns: repeat(4, 1fr);
  }
  &__digit {
    &.title-1 {
      font-weight: bold;
    }
    margin-bottom: 20px;
  }
  &__item {
    padding: 50px 0;
    display: flex;
    padding-left: 50px;
    padding-right: 30px;
    flex-direction: column;
    border-left: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    &:last-child {
      border-right: 1px solid #e1e1e1;
    }
  }
  @media (max-width: 1920px) {
    &__wrapper {
      @include adaptive-value-byX("padding-top", 120, 110, 1920, 1440);
      @include adaptive-value-byX("padding-bottom", 120, 110, 1920, 1440);
      &_special {
        @include adaptive-value-byX("padding-bottom", 90, 80, 1920, 1440);
      }
    }
    &__description_changable {
      @include adaptive-value-byX("max-width", 577, 424, 1920, 1440);
    }
    &__item {
      @include adaptive-value-byX("padding-left", 50, 15, 1920, 1440);
      @include adaptive-value-byX("padding-right", 30, 4, 1920, 1440);
    }
  }
  @media (max-width: 1440px) {
    &__wrapper {
      @include adaptive-value-byX("padding-top", 110, 100, 1440, 1200);
      @include adaptive-value-byX("padding-bottom", 110, 100, 1440, 1200);
      &_special {
        @include adaptive-value-byX("padding-bottom", 80, 70, 1440, 1200);
      }
    }
    &__description_changable {
      @include adaptive-value-byX("max-width", 424, 366, 1440, 1200);
    }
    &__item {
      padding-left: 15px;
      padding-right: 4px;
    }
  }
  @media (max-width: 1200px) {
    &__wrapper {
      @include adaptive-value-byX("padding-top", 100, 90, 1200, 860);
      @include adaptive-value-byX("padding-bottom", 100, 90, 1200, 860);
      &_special {
        @include adaptive-value-byX("padding-bottom", 70, 60, 1200, 860);
      }
    }
    &__description_changable {
      max-width: 366px;
    }
  }
  @media (max-width: 1040px) {
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 966px) {
    .items-1 {
      display: none;
    }
    .items-2 {
      display: block;
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      padding: 20px;
    }
    &__item,
    &__item:last-child {
      border: none;
    }
    &__digit {
      margin-bottom: 5px;
      &-description {
        max-width: 200px;
      }
    }
    &__item:nth-child(odd) {
      border-right: 1px solid #e1e1e1;
    }
  }
  @media (max-width: 860px) {
    &__wrapper {
      @include adaptive-value-byX("padding-top", 90, 80, 860, 640);
      @include adaptive-value-byX("padding-bottom", 90, 80, 860, 640);
      &_special {
        @include adaptive-value-byX("padding-bottom", 60, 50, 860, 640);
      }
      &__description_changable {
        max-width: 100%;
      }
    }
    &__items,
    &__wrapper {
      grid-column: 1 / span 8;
    }
  }
  @media (max-width: 640px) {
    &__wrapper {
      @include adaptive-value-byX("padding-top", 80, 50, 640, 320);
      @include adaptive-value-byX("padding-bottom", 80, 50, 640, 320);
      &_special {
        padding-bottom: 50px;
      }
    }
    &__items,
    &__wrapper {
      grid-column: 1 / span 6;
    }
  }
  @media (max-width: 483px) {
    .items-2 {
      display: none;
    }
    .items-3 {
      display: block;
    }
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item:nth-child(odd) {
      border-right: none;
    }
    &__item {
      position: relative;
    }
    &__item {
      padding-left: 0;
    }
  }
  @media (max-width: 320px) {
    &__wrapper {
      padding: 50px 0;
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}
