@import '../../../scss/utils';

.verificationLaboratoryPreview {
  position: relative;
  @include adaptive-value-byX('height', 800, 680, 1920, 1440);
  padding-top: 242px;
  &__wrapper {
    z-index: 2;
    position: relative;
  }
  &__body {
    top: 0;
    position: absolute;
    width: 100%;
    @include adaptive-value-byX('height', 800, 680, 1920, 1440);
    left: 0;
    overflow: hidden;
  }
  &__body-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    max-width: 500px;
  }
  &__subtitle {
    display: grid;
    align-items: center;
    grid-template-columns: 128px 223px;
  }
  &__wrapper {
    grid-column: 1 / span 10;
  }
  &__box,
  &__button {
    margin-top: 60px;
  }
  @media (max-width: 1440px) {
    &__wrapper {
      grid-column: 1 / span 12;
    }
    &__title {
      max-width: 390px;
    }
    padding-top: calc((226 / 760) * 100vh);
    &__button,
    &__box {
      margin-top: 30px;
    }
    &__subtitle {
      grid-template-columns: 101px 185px;
    }
  }
  @media (max-width: 1200px) {
    padding-top: calc((206 / 720) * 100vh);
  }
  @media (max-width: 1075px) {
    &__title {
      max-width: 500px;
    }
    padding-top: calc((500 / 1200) * 100vh);
    &__button,
    &__box {
      margin-top: 40px;
    }
    &__box {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__subtitle {
      grid-template-columns: 110px 185px;
    }
  }
  @media (max-width: 860px) {
    padding-top: calc((757 / 1200) * 100vh);
  }
  @media (max-width: 675px) {
    padding-top: calc((610 / 1140) * 100vh);
    &__box {
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 640px) {
    padding-top: calc(((896 * (610 / 1140)) / 896) * 100vh);
  }
  &__wrapper.visible {
    opacity: 1;
    animation: show 1.5s ease;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}