@media (max-width: 1920px) {
  .header {
    &__logo-image {
      @include adaptive-value-byX("width", 111, 94, 1920, 1440);
      @include adaptive-value-byX("height", 43, 36, 1920, 1440);
    }
  }
}

@media (max-width: 1440px) {
  .header {
    &__logo-image {
      left: 60px;
      @include adaptive-value-byX("width", 94, 80, 1440, 1200);
      @include adaptive-value-byX("height", 36, 31, 1440, 1200);
    }
  }
}
@media (max-width: 1200px) {
  .header {
    &__logo-image {
      height: 31px;
      width: 80px;
    }
  }
}

@media (max-width: 1040px) {
  .header {
    margin: 0;
    padding: 0;
    &::after {
      content: "";
      z-index: -1;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(#000000, 0.2);
      transform: translateX(100%);
    }
    &__burger {
      z-index: 50;
      display: block;
      position: fixed;
      top: 89px;
      width: 36px;
      height: 23px;
      transition: all 0.3s ease;
      transform: scale(125%);
      @include adaptive-value-byX("right", 70, 30, 1040, 640);
      @include adaptive-value-byX("top", 60, 30, 1040, 640);
      top: 45px;
    }
    &__burger::after,
    &__burger::before,
    &__burger span {
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 4.6px;
      transition: all 0.3s ease;
    }
    &__burger::after {
      content: "";
      top: 0;
    }
    &__burger::before {
      content: "";
      bottom: 0;
    }
    &__burger span {
      top: 9px;
    }
    &__box {
      z-index: 10;
      position: fixed;
      // bottom: 100px;
      top: 0;
      height: 114px;
      right: 0;
      width: 100%;
      // border-bottom: 1px solid #ececec;
      z-index: 1000;
      background-color: #fcfcfc;
    }
    &__menu {
      min-width: 430px;
      transition: all 1s ease;
      opacity: 0;
      transform: translateX(100%);
      position: fixed;
      right: 0;
      top: 0;
      width: fit-content;
      height: 100%;
      background-color: #fcfcfc;
    }
    &__logo-image {
      transform: translate(0);
      position: fixed;
      width: 150px;
      height: 58px;
      @include adaptive-value-byX("left", 70, 30, 1040, 640);
      top: 30px;
    }
  }
  .menu {
    &__list {
      margin-top: calc(0.2 * 100vh);
      padding-bottom: 80px;
      width: 100%;
      flex-direction: column;
      height: 100%;
      overflow: auto;
    }
    &__list-item {
      display: flex;
      justify-content: center;
      width: 100%;
      border-bottom: 1px solid rgba(#000, 0.1);
      background-color: #fcfcfc;
      margin: 0;
      &:last-child {
        padding-bottom: 100px;
      }
    }
    &__logo-image {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 30px;
      display: none;
    }
  }
  .sub-menu__link,
  .menu__link,
  .menu__toggle {
    display: block;
    color: #182027;
    padding: 35px 0;
    margin: 0 30px;
    width: fit-content;
  }
  .sub-menu__link {
    color: #fcfcfc;
  }
  .menu__toggle {
    margin: 0 auto;
  }
  .menu__toggle::after {
    border-top: 5px solid #182027;
    right: -22px;
    top: 37px;
    top: 50%;
    transform: translateY(-50%);
  }
  .sub-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    &__list {
      padding: 0;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
    &__list-item {
      background-color: #0054fd;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .lang {
    display: block;
    top: 50%;
    left: 30px;
    right: auto;
    width: 120px;
    background-color: #0054fd;
    padding: 10px;
    padding-right: 30px;
    &__image::after {
      border: 2px solid #182027;
      border-color: #fcfcfc;
    }
    &__list {
      top: 69px;
      padding: 0;

      top: 44px;
      left: 0;
    }
    &__link,
    &__text {
      color: #fcfcfc;
    }
    &__list-item {
      width: 120px;
      background-color: #fcfcfc;

      border: 1px solid #efefef;
      border-color: #0054fd;
      border-top-color: transparent;
      padding: 10px;
      padding-right: 23px;
      .lang__link,
      .lang__text {
        color: #182027;
      }
      .lang__image::after {
        border-color: #182027;
      }
    }
    &__preview {
      &::after {
        border-top: 5px solid #182027;

        border-top-color: #fcfcfc;
        right: 10px;
      }
    }
  }
}
@media (max-width: 640px) {
  .header {
    &__logo-image {
      @include adaptive-value-byX("left", 30, 15, 640, 320);
    }
    &__burger {
      @include adaptive-value-byX("right", 30, 15, 640, 320);
    }
    &__menu {
      min-width: 100%;
    }
  }
}
@media (max-width: 480px) {
  .header {
    height: 95px;
    &__logo-image {
      width: 76px;
      height: 40px;
      left: 15px;
    }
    &__burger {
      right: 15px;
      top: 38px;
      width: 25px;
      height: 18px;
    }
    &__burger::after,
    &__burger::before,
    &__burger span {
      height: 3.6px;
      pointer-events: none;
    }
    &__burger span {
      top: 7.5px;
    }
  }
  .lang__list {
    top: 40px;
  }
}
