@import "../../scss/utils";

.header {
  z-index: 1000;
  position: relative;
  height: 108px;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  @media (max-width: 320px) {
    height: 66px;
  }
  &__wrapper {
    @media(min-width: 1921px) {
      position: relative;
    }
    height: 100%;
    align-items: center;
  }
  &__logo-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 91px;
    width: 111px;
    height: 43px;
    @media(min-width: 1921px) {
      left: -171px;
    }
  }
  &__logo-image_dark {
    display: none;
  }
  &__burger {
    display: none;
  }
  &__menu {
    grid-column: 1 / span 12;
  }
}
.menu {
  a {
    color: inherit;
    cursor: pointer;
  }
  &__toggle {
    position: relative;
    padding-right: 20px;
  }
  &__toggle::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 10;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: none;
  }
  &__list {
    display: flex;
  }
  &__list-item {
    position: relative;
    margin-right: 44px;
  }
  &__logo-image {
    display: none;
  }
}
.sub-menu {
  &__list {
    display: none;
    position: absolute;
    top: 0;
    left: -30px;
    flex-direction: column;
    padding-top: 65px;
    width: 360px;
    @include adaptive-value-byX("width", 360, 300, 1920, 1440);
    @media (max-width: 1440px) {
      width: 300px;
    }
  }
  &__list-item {
    border-bottom: 1px solid rgba(#fff, 0.1);
    background-color: #2c2b2a;
    width: 100%;
  }
  &__link {
    display: block;
    width: fit-content;
    padding: 16px 0;
    padding-left: 30px;
    color: inherit;
    cursor: pointer;
  }
}

.lang {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 91px;
  @media(min-width: 1921px) {
    right: -120px;
  }
  display: none;
  &__preview::after {
    content: "";
    z-index: 10;
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: none;
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    position: absolute;
    top: 0;
    display: none;
    left: -30px;
    padding-top: 63px;
  }
  &__list-item {
    padding: 16px 30px;
    background-color: #2c2b2a;
  }
  &__link {
    color: #fcfcfc;
    cursor: pointer;
  }
  &__image {
    width: 22px;
    height: 12px;
    position: relative;
    margin-left: 8px;
  }
  &__image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 12px;
    background-color: transparent;
    border: 2px solid #fcfcfc;
  }
}

@import "./event";
@import "./states";
@import "./media";
@import "./second";

.reset-border {
  &.sub-menu__list-item:hover {
    border-bottom: none;
  }
  border: none;
}
