@import "../../../scss/utils";

.akbarysAchievments {
  &__wrapper {
    padding: 120px 0;
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__content {
    &-title {
      margin-bottom: 40px;
    }
    &-description {
      width: 565px;
    }
  }
  &__items {
    margin-top: 54px;
  }
  &__item {
    display: none;
    position: relative;
    padding-top: 30px;
    padding-right: 46px;
    border-top: 1px solid rgba(#000, 0.2);
    padding-bottom: 30px;
    cursor: pointer;
    &.default,
    &.show {
      display: block;
    }
    &:first-child {
      border-top: none;
    }
    &:hover &-link {
      color: #1665fd;
    }
    &:hover &-img path {
      fill: #1665fd;
    }
    &-link {
      margin-bottom: 10px;
    }
    &-img {
      position: absolute;
      right: 0;
      top: 30px;
    }
  }
  &__toggle {
    display: flex;
    grid-column: 2 / span 1;
    align-items: center;
    margin-top: 20px;
    width: fit-content;
    cursor: pointer;
    &-arrow {
      margin-left: 15px;
      pointer-events: none;
    }
    &__text {
      display: block;
      pointer-events: none;
    }
    &.opened svg {
      transform: rotateX(180deg);
    }
  }
  @media (max-width: 1920px) {
    @include adaptive-value-byX("padding-top", 120, 110, 1920, 1440);
    @include adaptive-value-byX("padding-bottom", 120, 110, 1920, 1440);
    &__content-description {
      @include adaptive-value-byX("width", 565, 424, 1920, 1440);
    }
    &__items {
      @include adaptive-value-byX("margin-top", 54, 39, 1920, 1440);
    }
    &__toggle {
      @include adaptive-value-byX("margin-top", 20, 10, 1920, 1440);
    }
  }
  @media (max-width: 1440px) {
    &__wrapper {
      @include adaptive-value-byX("padding-top", 110, 100, 1440, 1200);
      @include adaptive-value-byX("padding-bottom", 110, 100, 1440, 1200);
    }
    &__content-description {
      @include adaptive-value-byX("width", 424, 366, 1440, 1200);
    }
    &__items {
      margin-top: 39px;
    }
    &__toggle {
      margin-top: 10px;
    }
  }
  @media (max-width: 1200px) {
    &__wrapper {
      @include adaptive-value-byX("padding-top", 100, 90, 1200, 860);
      @include adaptive-value-byX("padding-bottom", 100, 90, 1200, 860);
    }
  }
  @media (max-width: 1140px) {
    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
    &__toggle {
      grid-column: 1 / span 1;
    }
    &__content-description {
      width: 100%;
    }
    &__items {
      margin-top: 50px;
    }
  }
  @media (max-width: 860px) {
    &__wrapper {
      grid-column: 1 / span 8;
      @include adaptive-value-byX("padding-top", 90, 80, 860, 640);
      @include adaptive-value-byX("padding-bottom", 90, 80, 860, 640);
    }
  }
  @media (max-width: 640px) {
    &__wrapper {
      grid-column: 1 / span 6;
      @include adaptive-value-byX("padding-top", 80, 50, 640, 320);
      @include adaptive-value-byX("padding-bottom", 80, 50, 640, 320);
    }
    &__item-description.text-1 {
      @include adaptive-value-byX("font-size", 14, 12, 640, 320);
    }
  }
  @media (max-width: 320px) {
    &__wrapper {
      padding: 50px 0;
    }
    &__item-description.text-1 {
      font-size: 12px;
    }
  }
}
