@import '../../../scss/utils';

.akbarysProtection {
    @include adaptive-value-byX('padding-top', 120, 110, 1920, 1440);
    @include adaptive-value-byX('padding-bottom', 120, 110, 1920, 1440);
    background-color: #1564FD;
    &__wrapper {
        grid-column: 1 / span 12;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        @include adaptive-value-byX('width', 921, 702, 1920, 1440);
        &-title {
            margin-bottom: 40px;
        }
        &-text {
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }
        }
        &-button {
            margin-top: 40px;
        }
    }
    &__logo {
        margin-left: 30px;
        @include adaptive-value-byX('width', 380, 273, 1920, 1440);
        height: fit-content;
        & svg{
            width: 100%;
            height: fit-content;
        }
    }
}