@import "../../../scss//utils";

.projects {
  &__wrapper {
    margin-top: calc((203 / 1002) * 100vh);
    grid-column: 1 / span 12;
    width: 100%;
  }
  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.67fr 1fr;
    grid-column-gap: 74px;
    &-description {
      margin-top: calc((30 / 1002) * 100vh);
    }
    &-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      grid-column: 2 / span 1;
    }
    &-image {
      height: calc((385 / 1002) * 100vh);
      grid-column: 1 / span 1;
    }
  }
  &__button {
    margin-top: calc((40 / 1002) * 100vh);
    width: 220px;
    height: 52px;
    &-next,
    &-prev {
      top: calc((-116 / 1002) * 100vh);
      right: 0;
      z-index: 1000;
      position: absolute;
      width: 29px;
      height: 29px;
      cursor: pointer;
    }
    &-prev {
      transform: rotateY(180deg);
      right: 84px;
    }
  }
  &__advantages {
    margin-top: calc((50 / 1002) * 100vh);
    width: 100%;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    &-item {
      display: grid;
      transform: translateY(100%);
      opacity: 0;
    }
    & .projects__content-description {
      margin-top: calc((12 / 1002) * 100vh);
    }
  }
  &__slider {
    margin-top: calc((81 / 1002) * 100vh);
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__pagination {
    position: absolute;
    right: 192px;
    top: calc((-121 / 1002) * 100vh);
  }
  &__slider-wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
  }
  &__slide {
    height: fit-content;
    flex: 1 0 100%;
  }
  @media (max-width: 1920px) {
    &__content {
      @include adaptive-value-byX("grid-column-gap", 74, 69, 1920, 1440);
    }
    &__button {
      &-prev {
        @include adaptive-value-byX("right", 84, 57, 1920, 1440);
      }
    }
    &__pagination {
      @include adaptive-value-byX("right", 192, 133, 1920, 1440);
    }
  }
  @media (max-width: 1440px) {
    &__wrapper {
      margin-top: calc((168 / 760) * 100vh);
      grid-column: 1 / span 12;
    }
    &__slider {
      margin-top: calc((60 / 760) * 100vh);
    }
    &__content {
      grid-template-columns: 1.58fr 1fr;
      @include adaptive-value-byX("grid-column-gap", 69, 30, 1440, 1200);
      &-image {
        height: calc((281 / 760) * 100vh);
      }
      &-description {
        margin-top: 20px;
      }
    }
    &__pagination {
      right: 133px;
      top: -90px;
    }
    &__button {
      margin-top: 20px;
      &-next,
      &-prev {
        top: -84px;
      }
      &-next img,
      &-prev img {
        width: 22px;
        height: 22px;
      }
      &-prev {
        right: 57px;
      }
    }
    &__advantages {
      margin-top: calc((60 / 760) * 100vh);
      & .projects__content-description {
        margin-top: calc((19 / 760) * 100vh);
      }
    }
  }
  @media (max-width: 1200px) {
    &__wrapper {
      margin-top: calc((162 / 720) * 100vh);
    }
    &__slider {
      margin-top: calc((60 / 720) * 100vh);
    }
    &__content {
      grid-column-gap: 30px;
      grid-template-columns: 1.44fr 1fr;
      height: calc((243 / 720) * 100vh);
      &-image {
        height: 243px;
      }
    }
    &__advantages {
      margin-top: calc((64 / 720) * 100vh);
      & .projects__content-description {
        margin-top: calc((15 / 720) * 100vh);
      }
    }
    &__button {
      &-prev {
        right: 57px;
      }
    }
  }
  @media (max-width: 1024px) {
    &__advantages {
      margin-top: calc((45 / 720) * 100vh);
      & .projects__content-description {
        margin-top: calc((10 / 720) * 100vh);
      }
    }
  }
  @media (max-width: 860px) {
    &__content {
      grid-template-columns: 1fr;
      grid-gap: 0;
      &-box {
        justify-content: start;
        grid-column: 1 / span 1;
        margin-top: calc((40 / 1200) * 100vh);
      }
      &-image {
        grid-column: 1 / span 1;
        &-image {
          height: 300px;
        }
      }
    }
    &__slider {
      margin-top: calc((53 / 1200) * 100vh);
    }
    &__wrapper {
      grid-column: 1 / span 8;
      margin-top: calc((236 / 1200) * 100vh);
    }
    &__advantages {
      margin-top: calc((40 / 1200) * 100vh);
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 60px;
    }
    &__button {
      margin-top: 30px;
      &-next img,
      &-prev img {
        width: 24px;
        height: 24px;
      }
      &-prev {
        right: 86px;
      }
    }
    &__pagination {
      right: 164px;
    }
  }
  @media (max-width: 715px) {
    &__title {
      padding-right: 50%;
    }
    &__pagination {
      right: 130px;
      top: -106px;
    }
    &__button {
      &-next,
      &-prev {
        top: calc((-101 / 1140) * 100vh);
      }
      &-prev {
        right: calc((72 / 640) * 100vw);
      }
    }
  }
  @media (max-width: 640px) {
    &__wrapper {
      grid-column: 1 / span 6;
      margin-top: calc((185 / 1140) * 100vh);
    }
    &__content {
      &-box {
        margin-top: calc((35 / 1140) * 100vh);
      }
      &-image {
        max-width: 520px;
        max-height: 216px;
      }
    }
    &__advantages {
      &-item {
        width: 100%;
      }
    }
  }
  @media (max-width: 510px) {
    &__pagination {
      right: 0;
    }
    // &__button {
    //   &-next,
    //   &-prev {
    //     display: none;
    //   }
    // }
  }
  @media (max-width: 480px) {
    &__wrapper {
      margin-top: calc((100 / 520) * 100vh);
    }
    &__slider {
      margin-top: 0;
    }
    &__pagination {
      // top: calc((-50 / 1140) * 100vh);
      right: 65px;
      top: calc((-74 / 1140) * 100vh);
    }

    &__button {
      margin-top: 30px;
      &-next,
      &-prev {
        top: calc((-68 / 1140) * 100vh);
      }
      &-next img,
      &-prev img {
        width: 18px;
        height: 18px;
      }
      &-prev {
        right: 35px;
      }
      &-next {
        right: -10px;
      }
    }
    &__content {
      &-image {
        margin-top: 20px;
      }
      &-description {
        margin-top: 10px;
      }
    }
    // &__advantages {
    //   grid-template-columns: repeat(1, 1fr);
    //   grid-row-gap: 40px;
    // }
    &__advantages {
      display: none;
    }
  }
  @media (max-width: 320px) {
    &__content-image {
      max-height: 130px;
    }
  }
}

.visible > .projects__advantages-item:nth-child(1) {
  animation: showText 1s ease;
}
.visible > .projects__advantages-item:nth-child(2) {
  animation: showText 1.4s ease;
}
.visible > .projects__advantages-item:nth-child(3) {
  animation: showText 1.8s ease;
}
.visible > .projects__advantages-item:nth-child(4) {
  animation: showText 2.2s ease;
}

.visible > .projects__advantages-item {
  transform: translateY(0%);
  opacity: 1;
}
.hide.projects__content {
  transition: opacity 0.8s linear;
  opacity: 0;
}
.visible > .projects__advantages-item {
  transform: translateY(0%);
  opacity: 1;
}

@keyframes showText {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
