@import "../../../scss/utils";

.verificationLaboratoryAchievements {
  &__wrapper {
    @include adaptive-value-byX("padding-top", 120, 110, 1920, 1440);
    @include adaptive-value-byX("padding-bottom", 120, 110, 1920, 1440);
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__content {
    &-title {
      margin-bottom: 40px;
    }
    &-description {
      @include adaptive-value-byX("width", 565, 424, 1920, 1440);
    }
  }
  &__items {
    @include adaptive-value-byX("height", 520, 500, 1920, 1440);
    @include adaptive-value-byX("margin-top", 84, 69, 1920, 1440);
    overflow: hidden;
    &.show {
      height: fit-content;
    }
  }
  &__item {
    position: relative;
    margin-top: 30px;
    border-bottom: 1px solid rgba(#000, 0.2);
    padding-bottom: 30px;
    cursor: pointer;
    &:first-child {
      margin-top: 0;
    }
    &:hover &-link {
      color: #1665fd;
    }
    &:hover &-img path {
      fill: #1665fd;
    }
    &-link {
      margin-bottom: 10px;
    }
    &-img {
      position: absolute;
      right: 0;
      top: 16.5px;
    }
  }
  &__toggle {
    display: flex;
    grid-column: 2 / span 1;
    align-items: center;
    margin-top: 40px;
    width: fit-content;
    &-arrow {
      margin-left: 15px;
      pointer-events: none;
    }
    &__text {
      display: block;
      pointer-events: none;
    }
    &.show svg {
      transform: rotateX(180deg);
    }
  }
}
