@import "../../../scss/utils";

.careerDescription {
  &__content {
    padding: 120px 0;
    grid-column: 1 / span 12;
    display: flex;
    width: 100%;
    justify-content: space-between;
    &-description {
      width: 685px;
    }
  }
  @media (max-width: 1920px) {
    &__content {
      @include adaptive-value-byX("padding-top", 120, 110, 1920, 1440);
      @include adaptive-value-byX("padding-bottom", 120, 110, 1920, 1440);
      &-description {
        @include adaptive-value-byX("width", 685, 514, 1920, 1440);
      }
    }
  }
  @media (max-width: 1440px) {
    &__content {
      @include adaptive-value-byX("padding-top", 110, 100, 1440, 1200);
      @include adaptive-value-byX("padding-bottom", 110, 100, 1440, 1200);
      &-description {
        @include adaptive-value-byX("width", 514, 445, 1920, 1440);
      }
    }
  }
  @media (max-width: 1200px) {
    &__content {
      @include adaptive-value-byX("padding-top", 100, 90, 1200, 860);
      @include adaptive-value-byX("padding-bottom", 100, 90, 1200, 860);
    }
    &-description {
      width: 445px;
    }
  }
  @media (max-width: 1040px) {
    &__content {
      flex-direction: column;
      grid-row-gap: 40px;
      &-description {
        width: 100%;
      }
    }
  }
  @media (max-width: 860px) {
    &__content {
      @include adaptive-value-byX("padding-top", 90, 80, 860, 640);
      @include adaptive-value-byX("padding-bottom", 90, 80, 860, 640);
    }
    &__content {
      grid-column: 1 / span 8;
    }
  }
  @media (max-width: 640px) {
    &__content {
      @include adaptive-value-byX("grid-row-gap", 40, 30, 640, 320);
      @include adaptive-value-byX("padding-top", 80, 50, 640, 320);
      @include adaptive-value-byX("padding-bottom", 80, 50, 640, 320);
    }
    &__content {
      grid-column: 1 / span 6;
    }
  }
  @media (max-width: 320px) {
    &__content {
      padding: 50px 0;
      grid-row-gap: 30px;
    }
  }
}

.careerDescription__benefits-list-item.show {
  background-color: #1564fd;
  h3,
  p {
    color: #ffffff;
  }
}
