@import "../../../scss/utils";

.verificationLaboratoryRequires {
  padding: 120px 0;
  background-color: #1564fd;
  &__title {
    margin-bottom: 40px;
  }
  &__wrapper {
    grid-column: 1 / span 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    width: 565px;
  }
  &__images {
    width: 515px;
    display: flex;
    justify-content: space-between;
  }
  &__image {
    height: 182px;
    &:nth-child(1) {
      width: 211px;
    }
    &:nth-child(2) {
      width: 183px;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  @media (max-width: 1920px) {
    @include adaptive-value-byX("padding-top", 120, 110, 1920, 1440);
    @include adaptive-value-byX("padding-bottom", 120, 110, 1920, 1440);
    &__image {
      @include adaptive-value-byX("height", 182, 164, 1920, 1440);
      &:nth-child(1) {
        @include adaptive-value-byX("width", 211, 188, 1920, 1440);
      }
      &:nth-child(2) {
        @include adaptive-value-byX("width", 183, 165, 1920, 1440);
      }
    }
    &__content {
      @include adaptive-value-byX("width", 565, 424, 1920, 1440);
    }
    &__images {
      @include adaptive-value-byX("width", 515, 451, 1920, 1440);
    }
  }
  @media (max-width: 1440px) {
    @include adaptive-value-byX("padding-top", 110, 100, 1440, 1200);
    @include adaptive-value-byX("padding-bottom", 110, 100, 1440, 1200);
    &__image {
      height: 164px;
      &:nth-child(1) {
        width: 188px;
      }
      &:nth-child(2) {
        width: 165px;
      }
    } 
    &__content {
      @include adaptive-value-byX("width", 424, 366, 1440, 1200);
    }
    &__images {
      @include adaptive-value-byX("width", 451, 418, 1440, 1200);
    }
  }
  @media (max-width: 1200px) {
    @include adaptive-value-byX("padding-top", 100, 90, 1200, 860);
    @include adaptive-value-byX("padding-bottom", 100, 90, 1200, 860);
    &__image {
      @include adaptive-value-byX("height", 164, 136, 1200, 860);
      &:nth-child(1) {
        @include adaptive-value-byX("width", 188, 157, 1200, 860);
      }
      &:nth-child(2) {
        @include adaptive-value-byX("width", 165, 136, 1200, 860);
      }
    }
    &__content {
      @include adaptive-value-byX("width", 366, 344, 1200, 860);
    }
    &__images {
      @include adaptive-value-byX("width", 418, 345, 1200, 860);
    }
  }
  @media (max-width: 1040px) {
    &__wrapper {
      flex-direction: column;
    }
    &__content {
      width: 100%;
    }
    &__images {
      margin-top: 60px;
      width: 463px;
    }
    &__image {
      height: 185px;
      &:nth-child(1) {
        width: 212px;
      }
      &:nth-child(2) {
        width: 186px;
      }
    }
  }
  @media (max-width: 860px) {
    @include adaptive-value-byX("padding-top", 90, 80, 860, 640);
    @include adaptive-value-byX("padding-bottom", 90, 80, 860, 640);
    &__wrapper {
      grid-column: 1 / span 8;
    }
  }
  @media (max-width: 640px) {
    @include adaptive-value-byX("padding-top", 80, 50, 640, 320);
    @include adaptive-value-byX("padding-bottom", 80, 50, 640, 320);
    &__title {
      @include adaptive-value-byX("margin-bottom", 40, 30, 640, 320);
    }
    &__wrapper {
      grid-column: 1 / span 6;
    }
    &__images {
      @include adaptive-value-byX("margin-top", 60, 30, 640, 320);
      @include adaptive-value-byX("width", 463, 215, 640, 320);
    }
    &__image {
      @include adaptive-value-byX("height", 185, 85, 640, 320);
      &:nth-child(1) {
        @include adaptive-value-byX("width", 212, 98, 640, 320);
      }
      &:nth-child(2) {
        @include adaptive-value-byX("width", 186, 86, 640, 320);
      }
    }
  }
  @media (max-width: 320px) {
    padding: 50px 0;
    &__title {
      margin-bottom: 30px;
    }
    &__image {
      height: 85px;
      &:nth-child(1) {
        width: 98px;
      }
      &:nth-child(2) {
        width: 86px;
      }
    }
  }
}
