@import "../../../scss//utils";
.mainAkbarys {
  padding-top: calc((700 / 1002) * 100vh);
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
  }
  &__wrapper {
    grid-column: 1 / span 5;
    padding-right: 40px;
  }
  &__description {
    margin-top: 20px;
  }
  &__button {
    margin-top: calc((60 / 1002) * 100vh);
  }
  @media (max-width: 1732px) {
    &__wrapper {
      padding-right: 0;
    }
  }
  @media (max-width: 1558px) {
    &__wrapper {
      grid-column: 1 / span 6;
      padding-right: 50px;
    }
  }
  @media (max-width: 1440px) {
    padding-top: calc((500 / 760) * 100vh);
    &__button {
      margin-top: calc((40 / 760) * 100vh);
    }
    &__wrapper {
      padding-right: 80px;
    }
  }
  @media (max-width: 1358px) {
    &__wrapper {
      grid-column: 1 / span 7;
      padding-right: 122px;
    }
  }
  @media (max-width: 1286px) {
    &__wrapper {
      padding-right: 80px;
    }
  }
  @media (max-width: 1214px) {
    &__wrapper {
      padding-right: 38px;
    }
  }
  @media (max-width: 1200px) {
    &__wrapper {
      grid-column: 1 / span 6;
      padding-right: 9px;
    }
  }
  @media (max-width: 1109px) {
    &__wrapper {
      grid-column: 1 / span 7;
      padding-right: calc((16 / 1109) * 100vw);
    }
  }
  @media (max-width: 1093px) {
    &__wrapper {
      padding-right: calc((16 / 1093) * 100vw);
    }
  }
  @media (max-width: 1026px) {
    &__wrapper {
      padding-right: 0;
    }
  }
  @media (max-width: 985px) {
    &__wrapper {
      grid-column: 1 / span 8;
      padding-right: calc((5 / 985) * 100vw);
    }
  }
  @media (max-width: 901px) {
    &__wrapper {
      grid-column: 1 / span 9;
    }
  }
  @media (max-width: 860px) {
    padding-top: calc((843 / 1200) * 100vh);
    &__wrapper {
      grid-column: 1 / span 6;
      padding-right: 0;
    }
    &__button {
      margin-top: calc((60 / 1200) * 100vh);
    }
  }
  @media (max-width: 731px) {
    &__wrapper {
      grid-column: 1 / span 7;
      padding-right: calc((17 / 731) * 100vw);
    }
  }
  @media (max-width: 640px) {
    padding-top: calc((783 / 1140) * 100vh);
    &__wrapper {
      grid-column: 1 / span 6;
      padding-right: calc((104 / 640) * 100vw);
    }
  }
  @media (max-width: 464px) {
    &__wrapper {
      padding-right: calc((30 / 459) * 100vw);
    }
  }
  @media (max-width: 325px) {
    &__wrapper {
      padding-right: 0;
    }
  }
}

.visible.akbarys__wrapper {
  opacity: 1;
  animation: show 1.5s ease;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
