:root {
    --facebook: #4267b2;
    --twitter: #1da1f2;
    --telegram: #0088cc;
    --linkedin: #2867b2;
    --viber: #665cac;
    --whatsapp: #25d366;
}
.facebook {
    background: #4267b2;
}
.twitter {
    background: #1da1f2;
}
.telegram {
    background: #0088cc;
}
.linkedin {
    background: #2867b2;
}
.viber {
    background: #665cac;
}
.whatsapp {
    background: #25d366;
}
